* {
    box-sizing: border-box;
}

button {
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #f6f6f6;
}

.container {
    position: absolute;
    width: 400px;
    background-color: #6d9886;
    padding: 20px 40px;
}

.container h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.form__control {
    position: relative;
    margin: 40px 0 40px;
}

.form__control input {
    width: 100%;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #f6f6f6;
    padding: 15px 0;
}

.form__control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form__control label span {
    display: inline-block;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form__control input:focus,
.form__control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form__control input:focus + label span,
.form__control input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
}

.login__btn {
    width: 100%;
    background-color: #212121;
    color: #f6f6f6;
    padding: 15px;
    border-radius: 5px;
}
